<div class="relative ml-20">
  <input
    #searchInput
    type="text"
    placeholder="Search"
    class="border border-gray-300 bg-white text-gray-700 px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent shadow-md"
  />
  <button class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-blue-500 text-white px-4 py-2 rounded-md shadow-md" (click)="getSearchText(searchInput.value.toString())">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M21 21l-5.2-5.2m2.8-6.8A8 8 0 1111 3a8 8 0 018 8z"
      />
    </svg>
  </button>
</div>
